body {
  background-image: url(/public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline;  
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
